<% include partials/header %>

<div class="row">
  <div class="col-md-9 col-md-offset-1">

    <div class="jumbotron">
      <h2>Welcome to the New and Improved Daily Planet Blog-verse</h2>
      <p>This is a news blog where you can read or post articles about the latest current happenings!</p>

      <span>
      <a class="btn btn-primary btn-lg" href="/users">Search Users</a>
      <a class="btn btn-success btn-lg" href="/posts">Search Articles</a>
      </span>

    </div>

  </div>

  <div class="col-md-2"></div>
</div>


<% include partials/footer %>